.logo{
    width: 300px;
}
.container{
    width: 70%;
    height: 100%;
}

.header{
    display: inline-block;
}
.calendar{
    position: absolute;
    left: 0px;
}
.left{
    float: left;
    width: 700px;
    
}
.logo{
    float: left;
    padding-left: 30px

}
.d-flex{
    float: right;
    padding-left: 30px;

    margin: auto;
}
.right{
    float: right;
    width: 400px;
}
.header_calendar{
    position: relative;
    float: left;
    padding-left: 30px;
    text-align: right;
}
.icon_calendar{
   position: absolute;
   left: 0; 
   margin-right: 100px;
}
.header_phone{
    position: relative;
    float: right;
    padding-left: 30px

}
.icon_phone{
    position: absolute;
    left: 0;
}
