.pos6{
width: 100%;
}
.pos6_container{
    width: 80%;
    margin: auto;
}
.pos6_content{
    width: 100%;
    display: flex;
    overflow: auto;

}
.pos6_box{
    border: 1px solid #ddd;
    margin: 4px;
    min-width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}
.pos6_profile_box{
    min-width: 300px;
    margin: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 33%;
}
.pos6_profile_box>img{
    width: 50px;
    border-radius: 50%;

}
.pos6_text{
    font-size: 13px;
}

.vplayer{
    margin: auto;
   margin-top: 20px;
}
.pos6_grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
.pos6_grid >img,.pos6_grid >div {
    padding:  10px;
}
.pos6_image{
    margin-top: 20px;
}
@media screen and (max-width: 1023px) {
    .pos6_container{
        width: 100%;
        
    }
    .pos6_grid >img,.pos6_grid >div {
        padding:  2px;
    }
   
}
@media screen and (max-width: 739px) {
    .pos6_grid{
        display: block;
    } 
    
      
  }